body {
  background-color: #eae3d2;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0px;
  /* background-color: #ebd8c3; */
  z-index: 1000;
  background-color: #eae3d2;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 2fr));
  column-gap: 18px;
  row-gap: 16px;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-left: 3px;
  text-decoration: none;
}

.game-preview {
  height: fit-content;
  min-height: 225px;
  max-height: 235px;
  width: 250px;
  /* display: flex; */
  padding: 2px;
  border-style: ridge;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f9f5eb;
  /* cursor: pointer; */
  text-align: center;
  margin-right: 0;
  /* justify-content: center; */
}

.game-preview-image {
  width: 252px;
  height: 175px;
  border-radius: 3px;
}

.game-preview-title {
  justify-content: center;
  margin-top: 5px;
}

.game-info-image {
  width: 1000px;
  height: 100%;
  border-radius: 3px;
}

.review-container {
  /* row-gap: 16px; */
  display: grid;
  /* justify-content: space-evenly; */
  padding-top: 10px;
  padding-left: 3px;
  text-decoration: none;
  row-gap: 20px;
}

.review-preview {
  height: fit-content;
  min-height: 225px;
  max-height: 235px;
  max-width: 1250px;
  padding: 2px;
  border-style: ridge;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f9f5eb;
  /* cursor: pointer; */
  text-align: center;
  margin-right: 0;
  /* justify-content: center; */
}
