body {
  background-color: #eae3d2;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.header {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  padding-top: 20px;
  padding-bottom: 10px;
  position: sticky;
  top: 0px;
  /* background-color: #ebd8c3; */
  z-index: 1000;
  background-color: #100720;
  
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 2fr));
  column-gap: 18px;
  row-gap: 16px;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-left: 3px;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 25px;
  margin-right: 25px;
}

.game-preview {
  height: fit-content;
  min-height: 225px;
  max-height: 235px;
  width: 250px;
  /* display: flex; */
  padding: 2px;
  border-style: ridge;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  /* cursor: pointer; */
  text-align: center;
  margin-right: 0;
  /* justify-content: center; */
}
.game-preview:hover {
  transform: scale(1.25);
}

.game-preview-image {
  width: 252px;
  height: 175px;
  border-radius: 3px;
}

.game-preview-title {
  justify-content: center;
  margin-top: 5px;
  background-color: white;
  color: #100720;
}

.game-info-image {
  width: 1000px;
  height: 100%;
  border-radius: 3px;
}

.review-container {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  /* column-gap: 10px;
  row-gap: 20px; */
  padding: 10px;
  /* border-style: ridge;
  border-radius: 5px; */
  box-shadow: 4px 3px 1px 1px rgba(0, 0, 0, 0.2);
}

.review {
  /* height: fit-content; */
  height: 300px;
  width: 800px;
  padding: -2px;
  margin-left: 30px;
  border-style: ridge;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  /* cursor: pointer; */
  text-align: center;
  /* justify-content: center; */
}

.review-image {
  margin-left: -13px;
  margin-top: -13px;
  height: 280px;
  width: auto;
  border-radius: 8px;
  box-shadow: 3px 2px 1px 1px rgba(0, 0, 0, 0.2);
}
.review-text {
  /* display: flex; */
  text-align: center;
  grid-row-end: auto;
  margin-left: 10px;
  background-color: white;
}

.review-game-title {
  text-align: center;
  background-color: white;
}

.review-title-rating {
  text-align: center;
  background-color: white;
  /* width: 1000px; */
  /* margin-right: 100px; */
}

.link {
  padding-inline: 100px;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  color: white;
}

h1 {
  color: white;
}

.link:hover {
  color: #FFC23C;
  font-size: 50px;
}
.voting-buttons {
  background-color: white;
}

.review-description {
  background-color: white;
}

.review-upvotes {
  background-color: white;
}

.review-downvotes {
  background-color: white;
}

.review-downvote-button {
  background-color: white;
}

.review-upvote-button {
  background-color: white;
}

.form-input, label {
  margin-bottom: 8px;
  color: white;
}

button {
  border-radius: 15px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.game-info {
  color: white;
}

textarea {
  min-height: 100px;
  min-width: 300px;
}

input {
  min-height: 20px;
  min-width: 300px;
}
h2 {
  color: white;
}

#user-review {
  margin-bottom: 30px;
  color: #100720;
  float: center;
  justify-content: center;
}

h2.review-title-rating {
  color: #100720;
}

.delete-button {
  color: white;
  font-size: 15px;
}
